.todo-text-display {
    .readonly-todo {
        display: block;
    }

    .readonly-todo {
        &:hover {
            .todo-text-edit {
                display: inline-block;
            }
        }
    }

    .edit-todo {
        display: none;
        .todo-input {
            display: inline-block;
            width: 80%;
        }
    }

    &.edit-active {
        .readonly-todo {
            display: none;
        }

        .edit-todo {
            display: block;
        }
    }

}

.todo-text-edit {
    cursor: pointer;
    display: none;
}

.todo-text-save {
    cursor: pointer;
}
